.post {
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgray;
	margin-bottom: 45px;

	&__image {
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		width: 100%;
		object-fit: contain;
	}

	&__text {
		padding: 20px;
		font-weight: normal;
	}

	&__header {
		padding: 20px;
		display: flex;
		align-items: center;
	}

	&__avatar {
		margin-right: 10px;
	}
}
